{% extends 'base.html' %}

{% block content %}
    {% load static %}
    {% if not user.is_authenticated %}
    글을 작성하려면 로그인해주세요.
    {% endif %}
    <img src="{% static '야구공.png' alt='' width='50' height='30' %}"><h1>투수 출전일지</h1><br>
    등판일수 : {{blogs.count}}
    <table style="border:1px solid black; margin-left:auto; margin-right:auto;">
        <th>작성자</th>
        <th>등판일</th>
        <th>승/패/홀드/세이브</th>
        {% for blog in blogs %}
        <tr>
            <td>
                작성자:{{blog.writer}}
            </td>
            <td>
            {{blog.date}}
            </td>
            <td>
            승:{{blog.W}}/패:{{blog.L}}/홀드:{{blog.HLD}}/세이브:{{blog.SV}}
            </td>
            <td>
                <a href="{%url 'detail' blog.id%}">상세기록</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% if user.is_authenticated %}
    <a href="{%url 'new'%}">기록 추가</a>
    {% endif %}
    
    
{% endblock %}